<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{{title}}</title>
    <style>
        body {
            string-set: title "{{short_title}}",
            title-slug "{{title_slug}}",
            modification-date "{{date}}",
            publication-date "{{dateFormat publication_date}}",
            publication-year "{{dateYear publication_date}}",
            author "{{{marked author.name}}}";
        }
    </style>
    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <header>
        {{#if title}}<h1>{{title}}</h1>{{/if}}
        {{#if author}}{{#if author.name}}
        <address>
            <a href="{{author.link}}" rel="author">{{{marked author.name}}}</a>
        </address>
        {{#if publication_date}}
        <time datetime="{{dateNormalize publication_date}}">{{dateFormat publication_date}}</time>
        {{/if}}
        {{/if}}{{/if}}
        {{#if summary}}
        <section>
            {{#each summary}}
            <p>{{{marked this}}}</p>
            {{/each}}
        </section>
        {{/if}}
    </header>
    <main>
        {{#each body}}
        <p>{{{marked this}}}</p>
        {{/each}}
    </main>
    <footer>
        {{#if publication_date}}
        <time datetime="{{dateNormalize publication_date}}">{{dateFormat publication_date}}</time>
        {{/if}}
        {{#if author}}{{#if author.name}}
        <address>
            <a href="{{author.link}}" rel="author">{{{marked author.name}}}</a>
        </address>
        {{/if}}{{/if}}
    </footer>
</body>

</html>